@font-face {
	font-family: "Roboto-Regular";
	src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto-Bold";
	src: url("./assets/fonts/Roboto-Bold.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	max-width: 100%;
}

ul {
	list-style: none;
}

li > a {
	text-decoration: none;
}

.wrapper {
	max-width: 1064px;
	margin: 0 auto;
}

header {
	padding: 8px 0;
	background-color: rgba(255, 255, 255, 1);
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav {
	width: 355px;
}

.header__nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav-item {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 1.6rem;
	line-height: 2.64rem;
	color: rgba(28, 27, 27, 1);
	text-wrap: nowrap;
	transition: 0.5s linear;
}

.header__nav-item:hover {
	color: rgba(0, 51, 255, 1);
	text-shadow: 1px 1px 2px rgba(24, 165, 198, 1);
}

.header__logo {
	width: 362px;
	flex-shrink: 8;
}

.header__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 132px;
}

path {
	transition: 0.5s linear;
}

.header__links-item:hover svg>g>path {
	fill: rgba(0, 51, 255, 1);
	filter: drop-shadow(1px 1px 2px rgba(24, 165, 198, 1));
}

.header__links-item:hover svg>path {
	stroke: rgba(0, 51, 255, 1);
	filter: drop-shadow(1px 1px 2px rgba(24, 165, 198, 1));
}

.about {
	padding: 24px 0;
	background-color: rgba(240, 239, 235, 1);
}

.about__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 544px;
}

h1 {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 6rem;
	color: rgba(0, 0, 0, 1);
}

.about__info-text {
	padding: 42px 0 26px;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 2.4rem;
	color: rgba(0, 0, 0, 1);
}

.about__info-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 129px;
	height: 36px;
	border-radius: 18px;
	padding: 0 15px;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 1.7rem;
	border-style: none;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 1);
	transition: 0.5s linear;
}

.about__info-button:hover {
	background-color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 2px rgba(24, 165, 198, 1);
	box-shadow: 3px 3px 5px rgba(24, 165, 198, 1);
}

.bestsellers {
	padding: 60px 0 248px;
	background-color: rgba(255, 255, 255, 1);
}

.bestsellers__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

h2 {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 3.6rem;
	color: rgba(0, 0, 0, 1);
}

.bestsellers__disciption {
	max-width: 632px;
	padding: 27px 0 47px;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 2rem;
	text-align: center;
	color: rgba(0, 0, 0, 1);
}

.bestsellers__availability {
	padding-bottom: 87px;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 2rem;
	text-align: center;
	color: rgba(0, 0, 0, 1);
}

.bestsellers__example {
	width: 100%;
	padding-top: 52px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.bestsellers__example-item {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.bestsellers__item-image {
	width: 309px;
	height: 422px;
}

.bestsellers__item-name {
	max-width: 164px;
	padding-top: 27px;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 1.7rem;
	text-align: center;
	color: rgba(0, 0, 0, 1);
}

.bestsellers__item-price {
	max-width: 73px;
	padding: 17px 0 10px;
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 1.7rem;
	text-align: center;
	color: rgba(0, 0, 0, 1);
}

.bestsellers__item-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 20px;
	border-radius: 10px;
	padding: 0 5px;
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 1.7rem;
	text-decoration: underline 1px;
	text-underline-offset: 2px;
	border-style: none;
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 255, 255, 1);
	transition: 0.5s linear;
}

.bestsellers__item-button:hover {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 2px rgba(24, 165, 198, 1);
	box-shadow: 3px 3px 5px rgba(24, 165, 198, 1);
	text-decoration-color: rgba(0, 0, 0, 0.1);
}



/* .wrapper:nth-child(2) {
	background-color: rgba(240, 239, 235, 1);
} */